@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.eot');
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('../fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular.woff') format('woff'),
    url('../fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.eot');
  src: local('Quicksand Bold'), local('Quicksand-Bold'),
    url('../fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Bold.woff') format('woff'),
    url('../fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.white_wrap{
  display: flex;
    justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 50%;
  height: 83.33%;
}

.violet_wrap{
width: 100%;
height: 100%;
  background: url(../img/background.png)  no-repeat;
  background-size: cover;

 }

.background{
  width: 100%;
  height: 100%;
  background: linear-gradient(32deg, rgb(47,35,173,0%), rgb(199,109,215,100%)), url(../img/background.png) no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 8px 0px #152a3f;
    }

.container {
  color: #fbf6e4;
  font-weight: 700;
  font-family: 'Quicksand';
  flex: 1;
  height: 100%;
  width: 65%;
   border: 2px solid transparent;

}
.choice {
  font-size: 18px;
   display: flex;
  flex-wrap: nowrap;
  margin: 14% 0;

}
.join_us{
  margin-left: 6%;
}
.focus{
  display: none;
}
.focus:target{
  display: block;
}
.focus[id=join_us]:target ~ #sing_in {
  display: none;
}
.focus[id=sing_in]:target ~ #join_us {
  display: none;
}

.form {
  font-size: 16px;
  margin-top: 14%;
  display: flex;
    align-items: flex-start;
  flex-direction: column;
}
.user_data{
  width: 100%;
  height: 40px;
  background: none;
  border: 2px solid #9b85c7;
  color: #fbf6e4;
  font-weight: 700;
  font-family: 'Quicksand';
}
.label{
  margin-bottom: 2%;
}
.user_name, .password{
  margin-bottom: 5%;
  width: 100%;
}
.checkbox {
  font-size: 13px;
margin: 5% 0 8%;
}
input[type="checkbox"]{
  accent-color: #23ad91;
}


.button {
  font-size: 18px;
height: 40px;

}
.button_sing_in, .button_to_register{
  width: 100%;
  height: 100%;
    background: #23ad91;
    color: #fbf6e4;
}
.link {
  margin-top: 8%;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.a_link{
  color: #fbf6e4;
  border-bottom: 1px solid transparent;
}
.a_link:hover{
  color: #23ad91;
  border-bottom: 1px solid #e56963;
}

.a_link:visited{
  border-bottom: 1px solid #e56963;
  color: #fbf6e4;
  }
  .link_forgot, .link_create{
    color: #b9b9cc;
  }
  @media (max-width:580px) {
    .wrapper{
      width: 95%;
      height: 95%;
    }
    .user_name, .password{
      margin-bottom: 15%;
   
    }
  }
  @media (min-width:1400px) {
    .container  {
      width:35%;
       }
  }